progress {
  height: 10px;
  width: 100%;

  &::-webkit-progress-bar {
    background-color: #EBEAEA;
    border-radius: 15px;
  }

  &::-webkit-progress-value {
    background-color: #FFA2F0;
    border-radius: 15px;
  }

  &::-moz-progress-bar {
    background-color: #EBEAEA;
    border-radius: 15px;
    height: 10px;
  }
}


