@import "tailwindcss";

@theme{
    --color-primary: #B034F7;
    --color-light-pink: #F2B5D4;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


